<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Social Site</title>
    {% comment %} Bootstrap {% endcomment %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    {% comment %} Google fonts api {% endcomment %}
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/master.css' %}">
  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light mynav" role='navigation' id='navbar'>
      <div class="container">
        <a class="navbar-brand mynav" href="{% url 'home' %}">Social Site</a>
        <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
            <li> <a class="nav-link" href="{% url 'posts:create' %}">Post</a> </li>
            <li> <a class="nav-link" href="{% url 'groups:all' %}">Groups</a> </li>
            <li> <a class="nav-link" href="{% url 'groups:create' %}">Create Group</a> </li>
            <li> <a class="nav-link" href="{% url 'accounts:logout' %}">Log Out</a> </li>
          {% else %}
            <li> <a class="nav-link" href="{% url 'groups:all' %}">Groups</a> </li>
            <li> <a class="nav-link" href="{% url 'accounts:login' %}">Log In</a> </li>
            <li> <a class="nav-link" href="{% url 'accounts:signup' %}">Sign Up</a> </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <div class="container mycontent">
      {% block content %}

      {% endblock  %}
    </div>

  </body>
</html>
