{% extends "groups/group_base.html" %}
{% block pregroup %}

  <div class="container">
    <h1>{{ group.name }}</h1>
    <h2>Member count: {{ group.members.count }}</h2>
  </div>
  <div class="container list-group-item">
    <h3>About this group</h3>
    <p> <strong class="list-group-item">{{ group.description }}</strong></p>
  </div>


  <div class="content container">
    {% if user in group.members.all %}
      <a class="btn btn-lg btn-warning" href="{% url 'groups:leave' slug=group.slug %}">Leave</a>
    {% else %}
    <a class="btn btn-lg btn-warning" href="{% url 'groups:join' slug=group.slug %}">Join</a>
    {% endif %}
  </div>

{% endblock  %}

{% block group_content %}

  <div class="col-md-8">
    {% if group.posts.count == 0 %}
      <h2>No posts in this group yet</h2>
    {% else %}
     {% for post in group.posts.all %}
       {% include "posts/_post.html" %}
     {% endfor %}
    {% endif %}
  </div>

  <div class="container-fluid col-md-4">
    <h4>Group Members</h4>
    <div class="jumbotron">
      {% for member in group.memberships.all %}
        <p> <a href="{% url 'posts:for_user' username=member %}">@{{ member }}</a> </p>
      {% endfor %}
    </div>
  </div>

{% endblock  %}
