<div class="list-group-item">
  <h5 class="media-heading">
    <span class='username title list-group-item'>
      <a href="{% url 'posts:for_user' username=post.user.username %}">
        @<strong>{{ post.user.username }}</strong>
      </a>
    </span>

    <time class="time">
      <a href="{% url 'posts:single' username=post.user.username pk=post.pk %}">
        {{ post.created_at }}
      </a>
      <p>Posted At:
        <a href="{% url 'groups:single' slug=post.group.slug %}">
          {{ post.group }}
        </a>
      </p>
    </time>
  </h5>
  <h5 class="list-group-item container-fluid">{{ post.message_html|safe }}</h5>

  <div class="media-body">
    <div class="media-footer">
      {% if user.is_authenticated and not hide %}
        {% if post.user == user %}
          <a class="btn btn-danger" href="{% url 'posts:delete' pk=post.pk %}" title="delete">Delete</a>
          <a class="btn btn-secondary" href="{% url 'posts:edit' pk=post.pk %}" title="edit">Edit Post</a>
        {% endif %}
        <a class="btn btn-primary" href="{% url 'posts:create_comment' pk=post.pk %}">Add Comment</a>
      {% endif %}
    </div>
  </div>
</div>

<div class="list-group-item">
  <div class="comment">
    {% if post.comments.count == 0 %}
      <h3>No comments yet</h3>
    {% else %}
    <h4>Comments</h4>
    {% for comment in post.comments.all %}
      <div class="comment-header list-group-item">
        <a href="{% url 'posts:for_user' username=comment.author.username %}">
          <p>@<strong>{{ comment.author }}</strong></p>
        </a>
        <div class="comment-date">
          <i>{{ comment.created_at }}</i>
        </div>
        <div class="comment-text">
          <p> <strong> <i>{{ comment.text }}</i> </strong> </p>
        </div>
      </div>
    {% endfor %}
    {% endif %}
  </div>
</div>
