<div class="list-group-item">
  <h5 class="media-heading">
    <span class='username title list-group-item-heading'>
      <a href="{% url 'posts:for_user' username=post.user.username %}">
        @<strong>{{ post.user.username }}</strong>
      </a>
    </span>

    <time class="time">
      <a href="{% url 'posts:single' username=post.user.username pk=post.pk %}">
        {{ post.created_at }}
      </a>
    </time>
  </h5>
  <h4 class="list-group-item container-fluid">{{ post.message_html|safe }}</h4>
  <div class="media-body">


    <div class="media-footer">
      {% if user.is_authenticated and post.user == user and not hide %}
        <a class="btn btn-danger" href="{% url 'posts:delete' pk=post.pk %}" title="delete">Delete</a>
      {% endif %}
    </div>
  </div>
</div>
