{% extends "posts/post_base.html" %}
{% load bootstrap3 %}

{% block post_content %}

  <div class="col-md-12">
    <div class="list-group-item">
      <h5 class="media-heading">
        <span class='username title list-group-item'>
          <a href="{% url 'posts:for_user' username=post.user.username %}">
            @<strong>{{ post.user.username }}</strong>
          </a>
        </span>

        <time class="time">
          <a href="{% url 'posts:single' username=post.user.username pk=post.pk %}">
            {{ post.created_at }}
          </a>
          <p>Posted At:
            <a href="{% url 'groups:single' slug=post.group.slug %}">
              {{ post.group }}
            </a>
          </p>
        </time>
      </h5>
      <h5 class="list-group-item container-fluid">{{ post.message_html|safe }}</h5>

      <div class="media-body">
        <div class="media-footer">
          {% if user.is_authenticated and post.user == user and not hide %}
            <a class="btn btn-danger" href="{% url 'posts:delete' pk=post.pk %}" title="delete">Delete</a>
            <a class="btn btn-secondary" href="{% url 'posts:edit' pk=post.pk %}" title="edit">Edit Post</a>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="list-group-item">
      <div class="comment">
        {% if post.comments.count == 0 %}
          <h3>No comments yet</h3>
        {% else %}
        <h4>Comments</h4>
        {% for comment in post.comments.all %}
          <div class="comment-header list-group-item">
            <a href="{% url 'posts:for_user' username=comment.author.username %}">
              <p>@<strong>{{ comment.author }}</strong></p>
            </a>
            <div class="comment-date">
              <i>{{ comment.created_at }}</i>
            </div>
            <div class="comment-text">
              <p> <strong> <i>{{ comment.text }}</i> </strong> </p>
            </div>
            {% if user.is_authenticated and comment.author == user %}
              <div class="delete">
                <a class="btn btn-danger" href="{% url 'posts:delete_comment' pk=comment.pk %}" title="delete">Delete</a>
              </div>
            {% endif %}
          </div>
        {% endfor %}
        {% endif %}

        {% if user.is_authenticated %}
          <div class="comment-post">
            <h2>Write a comment</h2>
            <form method="post">
              {% csrf_token %}
              {% bootstrap_form form %}
              <input class='btn btn-primary' type="submit" name="" value="Comment">
            </form>
          </div>
        {% endif %}
      </div>
    </div>
  </div>

{% endblock  %}
